body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    min-height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px; /* Espaço no topo */
}

.calendar-cell {
    height: 40px;
    min-width: 40px; /* Largura mínima para responsividade */
    border: 1px solid #C8102E;
    text-align: center;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em; /* Tamanho da fonte ajustado */
    color: #333;
    box-sizing: border-box;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    z-index: 10; /* Aumentado para evitar sobreposição */
    top: -35px; /* Ajustado para melhor posicionamento */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta a posição para o centro */
    font-size: 0.8em;
}

.calendar-cell:hover .tooltip {
    visibility: visible; /* Exibe o tooltip ao passar o mouse */
}

.tooltip:focus {
    visibility: visible; /* Exibe o tooltip ao focar */
    outline: 2px solid #C8102E; /* Feedback visual ao focar */
}
